*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: crimson;
}
.choice{
    background-color: black;
    color: whitesmoke;
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scoreboard{
    background-color: rgba(0, 0, 0, .5);
    height: 7.5rem;
    width: 15rem;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.choice-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    max-width: 80vw;
}
.choice-container button{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 3.5rem;;
    width: 3.5rem;;
    font-size: 2rem;
    background-color: darkseagreen;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 35px;
    transition: all .25s ease-in-out;
}
.choice-container button:hover{
    transform: scale(1.1);
    background-color: rgb(102, 161, 102);
    
}